*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  padding: 5px;
}

header,
.form-section {
  background-color: rgb(154, 154, 154);
}

.form-section {
  padding: 10px;
}

.info {
  padding: 10px;
}

.submit {
  justify-content: flex-end;
  display: flex;
}

label,
.input {
  line-height: 100%;
  width: 100%;
}

.meme-generator {
  display: flex;
  flex-wrap: wrap;
}

/* Meme Generator  */
.meme-container {
  width: 350px;
  height: 500px;
  position: relative;
  display: flex;
  align-content: center;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
}

.img-meme {
  position: relative;
  width: 400px;
  height: 500px;
}

.top-text {
  color: white;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.bottom-text {
  color: white;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

button {
  position: absolute;
  height: 25px;
}
